*.json
*.msh
*.h5

# Rust
target/
Cargo.lock

# Python
.venv/
.python-version
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp
*.cpython-310.pyc

# Dependencies directory used by Docker
deps/

# macOS
.DS_Store

# Temporary
*.log